.top
{
  position:absolute;
  padding:0;
  margin:0;
  background:#DD4B39;
  width:100%;
  height:100%;

}

h1{
  font-size:50px;
}
.Mayuresh
{
  padding-top:200px;
  font-family:Sans-Serif
  color:
  font-size:60px;
  opacity:0.6;
}
.second
{
  position:absolute;
  padding:0;
  margin:0;
  background:#DD4B39;
  width:100%;
  height:100%;
}
.Tagline
{
  font-size:25px;
  text-decoration:None;
}
.fa{
  padding:17px;
  font-size:40px;
  color:White;
  opacity:.7;
}
.div
{
  -webkit-font-smoothing:antialiased
}

#DD4B39
#0077b5
#4a535b
#2094ca
#CF5300
